/* ################################################### navbar styling ######################################## */

.list-group .list-group-item a[href="./contact.html"]{
    color: #E9AD28;
}

.info{
    margin-top: 6rem;
    margin-bottom: 6rem;
}

.hline{
    border: 2px solid red;
    border-radius: 10rem;
}

.required::after{
    content: "*";
    color: red;
}

textarea.form-control{
    height: 20rem;
}

.thank-you-message{
    display: none;
}