/* ################################################### header styling ######################################## */

.header{
    position: relative;
    height: 95vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)), url("../images/20210131_164708.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

nav.container::before{
    content: "";
    display: block;
    height: 2rem;
}

.list-group-item{
    border: 0
}

.list-group .list-group-item a{
    color: #f8f9fa;
    transition: all 0.3s ease-in-out;
}

.list-group .list-group-item a:hover{
    color: chartreuse;
}

.header-content{
    border-radius: 2.5em;
    padding: 3em;
    background-color: rgba(0, 0, 0, 0.6);
    width: 60%;
    position: absolute;
    top: calc(50% - 1rem);
    left: 50%;
    transform: translate(-50%, -50%);
}

@media (max-width: 1200px){
    .list-group-item{
        border: 2px solid #f8f9fa;
        width: 100%;
    }
}