/* ################################################### navbar styling ######################################## */

.list-group .list-group-item a[href="./index.html"]{
    color: #E9AD28;
}

/* ################################################### header styling ######################################## */

.header{
    position: relative;
    height: 95vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)), url("../images/15.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.header-content{
    border-radius: 2.5em;
    padding: 3em;
    background-color: rgba(0, 0, 0, 0.6);
    width: 60%;
    position: absolute;
    top: calc(50% - 1rem);
    left: 50%;
    transform: translate(-50%, -50%);
}

/* ################################################### facilities styling ######################################## */

#facilities .row .col{
    width: 30%;
    background-color: white;
}

#facilities .row .col .col-heading{
    color: orangered;
}

/* ################################################### making responsive ######################################## */

@media(max-width: 992px){
    #facilities .row .col{
        width: 100%;
    }
}