@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css');
@import url('https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css');

/* ################################################### html elements styling ######################################## */

*{
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-family: 'Montserrat', sans-serif;
    text-align: justify;
    line-height: 1.7;
    background-color: #f8f9fa;
}

ul li{
    list-style: none;
}

a{
    font-size: 1.6rem;
    color: #f8f9fa;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

a:hover{
    color: chartreuse;
}

p, li{
    font-size: 1.6rem;
    letter-spacing: 0.15em;
}

h1, h2, h3{
    letter-spacing: 0.25em;
    font-weight: 500;
}

/* ################################################### utility classes ######################################## */

.text-medium{
    font-size: 1.5em;
}

.text-orangered{
    color: orangered;
}

/* ################################################### particular elements styling ######################################## */

.get-direction{
    color: orangered;
}

.get-direction:hover{
    color: orange;
}

/* ################################################### making responsive ######################################## */

@media (max-width: 500px){
    html{
        font-size: 50%;
    }
}